<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neeva.app">

    <uses-permission android:name="android.permission.INTERNET"/>

    <queries>
        <package android:name="org.chromium.weblayer.support" />
    </queries>

    <application
        android:name="com.neeva.app.NeevaBrowser"
        android:allowBackup="true"
        android:icon="@mipmap/ic_neeva_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_neeva_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.NeevaSearchBrowser">

        <activity
            android:name=".NeevaActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NeevaSearchBrowser.NoActionBar"
            android:launchMode="singleInstance">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="neeva"/>
            </intent-filter>
        </activity>

        <meta-data android:name="org.chromium.weblayer.WebLayerPackage"
            android:value="com.neeva.app" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
