<?xml version="1.0" encoding="utf-8"?>

<!-- Copyright 2019 The Chromium Authors. All rights reserved.

     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file.
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.chromium.weblayer">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application>
        <!-- The following service entries exist in order to allow us to
             start more than one sandboxed process. -->

        <!-- NOTE: If you change the values of "android:process" for any of the below services,
             you also need to update kHelperProcessExecutableName in chrome_constants.cc. -->
        <meta-data android:name="org.chromium.content.browser.NUM_SANDBOXED_SERVICES"
                   android:value="40"/>
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed0"
                 android:process=":sandboxed_process0"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed1"
                 android:process=":sandboxed_process1"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed2"
                 android:process=":sandboxed_process2"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed3"
                 android:process=":sandboxed_process3"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed4"
                 android:process=":sandboxed_process4"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed5"
                 android:process=":sandboxed_process5"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed6"
                 android:process=":sandboxed_process6"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed7"
                 android:process=":sandboxed_process7"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed8"
                 android:process=":sandboxed_process8"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed9"
                 android:process=":sandboxed_process9"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed10"
                 android:process=":sandboxed_process10"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed11"
                 android:process=":sandboxed_process11"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed12"
                 android:process=":sandboxed_process12"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed13"
                 android:process=":sandboxed_process13"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed14"
                 android:process=":sandboxed_process14"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed15"
                 android:process=":sandboxed_process15"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed16"
                 android:process=":sandboxed_process16"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed17"
                 android:process=":sandboxed_process17"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed18"
                 android:process=":sandboxed_process18"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed19"
                 android:process=":sandboxed_process19"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed20"
                 android:process=":sandboxed_process20"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed21"
                 android:process=":sandboxed_process21"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed22"
                 android:process=":sandboxed_process22"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed23"
                 android:process=":sandboxed_process23"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed24"
                 android:process=":sandboxed_process24"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed25"
                 android:process=":sandboxed_process25"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed26"
                 android:process=":sandboxed_process26"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed27"
                 android:process=":sandboxed_process27"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed28"
                 android:process=":sandboxed_process28"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed29"
                 android:process=":sandboxed_process29"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed30"
                 android:process=":sandboxed_process30"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed31"
                 android:process=":sandboxed_process31"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed32"
                 android:process=":sandboxed_process32"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed33"
                 android:process=":sandboxed_process33"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed34"
                 android:process=":sandboxed_process34"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed35"
                 android:process=":sandboxed_process35"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed36"
                 android:process=":sandboxed_process36"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed37"
                 android:process=":sandboxed_process37"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed38"
                 android:process=":sandboxed_process38"
                 android:isolatedProcess="true"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Sandboxed39"
                 android:process=":sandboxed_process39"
                 android:isolatedProcess="true"
                 android:exported="false" />

        <meta-data android:name="org.chromium.content.browser.NUM_PRIVILEGED_SERVICES"
                   android:value="5"/>
        <service android:name="org.chromium.weblayer.ChildProcessService$Privileged0"
                 android:process=":privileged_process0"
                 android:isolatedProcess="false"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Privileged1"
                 android:process=":privileged_process1"
                 android:isolatedProcess="false"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Privileged2"
                 android:process=":privileged_process2"
                 android:isolatedProcess="false"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Privileged3"
                 android:process=":privileged_process3"
                 android:isolatedProcess="false"
                 android:exported="false" />
        <service android:name="org.chromium.weblayer.ChildProcessService$Privileged4"
                 android:process=":privileged_process4"
                 android:isolatedProcess="false"
                 android:exported="false" />

        <provider android:name="org.chromium.weblayer.WebLayerFileProvider"
            android:authorities="${applicationId}.org.chromium.weblayer.client.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/weblayer_file_paths" />
        </provider>

        <activity android:name="org.chromium.weblayer.SettingsActivity"
            android:theme="@style/Theme.WebLayer.Settings"
            android:exported="false">
        </activity>

        <activity android:name="org.chromium.weblayer.SiteSettingsActivity"
            android:theme="@style/Theme.WebLayer.Settings"
            android:exported="false">
        </activity>

        <receiver android:name="org.chromium.weblayer.BroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <!-- these need to be in sync with DownloadImpl.java-->
                <action android:name="org.chromium.weblayer.downloads.OPEN"/>
                <action android:name="org.chromium.weblayer.downloads.DELETE"/>
                <action android:name="org.chromium.weblayer.downloads.PAUSE"/>
                <action android:name="org.chromium.weblayer.downloads.RESUME"/>
                <action android:name="org.chromium.weblayer.downloads.CANCEL"/>
                <!-- this needs to be in sync with IntentUtils.java-->
                <action android:name="org.chromium.weblayer.intent_utils.ACTIVATE_TAB"/>
                <!-- this needs to be in sync with MediaStreamManager.java-->
                <!-- TODO(estade): deprecated, remove in M88. -->
                <action android:name="org.chromium.weblayer.webrtc.ACTIVATE_TAB"/>
            </intent-filter>
        </receiver>

        <service android:name="org.chromium.weblayer.MediaSessionService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>

        <service android:name="org.chromium.weblayer.RemoteMediaService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>

        <!-- Service for decoding images in a sandboxed process. -->
        <service
            android:name="org.chromium.weblayer.ImageDecoderService"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":decoder_service" />

        <!-- Used for GPay Dynamic Update -->
        <service
            android:name="org.chromium.weblayer.GooglePayDataCallbacksServiceWrapper"
            android:permission="com.google.android.gms.permission.BIND_PAYMENTS_CALLBACK_SERVICE"
            android:exported="true">
            <intent-filter>
              <action android:name="com.google.android.gms.wallet.callback.PAYMENT_DATA_CALLBACKS"/>
            </intent-filter>
        </service>

        <!-- GooglePay payment app support -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <!-- Service used by payment apps to notify the browser about changes in user selected
             payment method, shipping address, or shipping option. -->
        <service
            android:name="org.chromium.weblayer.PaymentDetailsUpdateServiceWrapper"
            android:exported="true">
            <intent-filter>
                <action android:name="org.chromium.intent.action.UPDATE_PAYMENT_DETAILS"/>
            </intent-filter>
        </service>

        <!-- Cast support -->
        <!-- TODO(crbug.com/1148410): remove this. -->
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="org.chromium.components.media_router.caf.CastOptionsProvider"/>
    </application>
</manifest>
